/**
 * @file Hero.css
 * @module HeroStyles
 * @desc Contains the styles for the Hero component.
 * This file uses Tailwind CSS classes with additional customization for specific elements.
 *
 * @see {@link https://tailwindcss.com/docs/installation | Tailwind CSS Documentation}
 * 
 * @example
 * // Example usage of CSS classes in the Hero component
 * <div className="hero">
 *   <HeroText />
 *   <ParallaxMountains />
 *   <ScrollWheel />
 *   <HeroImg />
 * </div>
 *
 * @created 2024-07-28
 * @updated 2024-08-06
 */

 .hero {
  @apply 
  min-h-section-height
  overflow-hidden relative w-full 
  flex flex-col items-center justify-center
  lg:grid grid-cols-2
  mx-auto
  container
  h-fit

 ;
}

/* Hero image wrapper */
.hero-img-wrapper {
  @apply  p-0 h-full
  lg:absolute lg:bottom-0 lg:right-0 lg:w-auto
  min-h-108 ;
  ;
}

/* Hero text container */
.text-container {
  @apply 
  mix-blend-difference;
}

/* Alignment of text within the container */
.text-container > div {
  @apply flex flex-col z-10 p-2;
}

/* Buttons within the hero text */
.text-buttons {
  @apply grid grid-cols-1 gap-2 
  lg:flex flex-wrap justify-center lg:justify-start
  text-sm md:text-base 
  z-50;
}
