/* Hero.css */
.hero{
  @apply overflow-hidden relative
   w-full 
   flex  flex-col md:flex-row
   items-center justify-start 
   h-1/2 md:h-section-height  md:min-h-108
}

/* the hero img */
.hero-img-wrapper {
  @apply  flex flex-col md:flex justify-end 
  md:absolute bottom-0 right-0 
  w-auto h-full;
}
.hero-img {
  @apply object-cover 
  max-h-screen 
  md:h-full
  md:min-h-120 
  -mt-14 md:mt-0
  opacity-90 z-0 
}


/* hero text */
.text-container{
  @apply mx-auto container 
  grid grid-cols-1 md:grid-cols-2 
  text-left pb-20 z-10
  mix-blend-difference

}
  /* the actual alignment of the text */
  .text-container > div{
    @apply flex flex-col z-10 p-2
  }
  /* buttons within the hero text */
  .text-buttons{
    @apply grid grid-cols-2 gap-2
    lg:flex justify-center 
    text-sm md:text-base z-50
    lg:justify-start ;
  }
