/**
 * @file Hero.css
 * @module HeroStyles
 * @desc Contains the styles for the Hero component.
 * This file uses Tailwind CSS classes with additional customization for specific elements.
 *
 * @see {@link https://tailwindcss.com/docs/installation | Tailwind CSS Documentation}
 * 
 * @example
 * // Example usage of CSS classes in the Hero component
 * <div className="hero">
 *   <HeroText />
 *   <ParallaxMountains />
 *   <ScrollWheel />
 *   <HeroImg />
 * </div>
 *
 * @created 2024-07-28
 * @updated 2024-08-06
 */

 .hero {
  @apply overflow-hidden relative w-full 
  flex flex-col md:flex-row items-center justify-start 
  md:h-section-height md:min-h-108;
}

/* Hero image wrapper */
.hero-img-wrapper {
  @apply flex flex-col md:flex justify-end 
  md:absolute bottom-0 right-0 w-auto h-full;
}

.hero-img {
  @apply object-cover 
  h-section-height md:h-full md:min-h-120 
  -mt-14 md:mt-0 
  opacity-90 z-0;
}

/* Hero text container */
.text-container {
  @apply mx-auto container 
  h-section-height md:h-min
  grid grid-cols-1 md:grid-cols-2 
  text-left 
  md:mb-20 z-10 
  p-4
  mix-blend-difference;
}

/* Alignment of text within the container */
.text-container > div {
  @apply flex flex-col z-10 p-2;
}

/* Buttons within the hero text */
.text-buttons {
  @apply grid grid-cols-1 gap-2 
  lg:flex justify-center lg:justify-start
  text-sm md:text-base 
  z-50;
}
