/* Base button style */
.slide-button-class {
  @apply py-2 px-4 border border-transparent text-sm font-medium rounded-md text-primary focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.slide-button-base {
  @apply slide-button-class ; /* Default to fit the content */

  position: relative;
  overflow: hidden;
}

.slide-button-base::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
  z-index: 0;
}

.slide-button-base:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.slide-button-base:hover {
  @apply text-primary;
}

.slide-button-content {
  position: relative;
  z-index: 5;
  @apply text-xs sm:text-base md:text-lg;
}

/* Accent button variant */
.slide-button {
  @apply bg-secondary focus:ring-accent;
}

.slide-button::before {
  @apply bg-secondary-dark;
}
