/**
 * @file Modal.css
 * @desc CSS styles for modal components. 
 * This stylesheet provides styles for a modal overlay and its content.
 * 
 * @see {@link https://developer.mozilla.org/en-US/docs/Web/CSS | CSS Documentation}
 * 
 * @styles
 * .modal - Covers the entire viewport with a semi-transparent background, centers its content using Flexbox.
 * .modal-content - Styles the modal content with padding, border-radius, and box-shadow.
 * 
 * @author Chace Nielson
 * @created 2024-07-26
 * @updated 2024-07-28
 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  @apply bg-secondary p-4 rounded-lg shadow-lg max-h-section-height mx-20;
}
