/**
 * @file Card.css
 * @module CardCSS
 * @desc CSS file for styling project cards. This file includes Tailwind CSS utility classes
 * to style the card grid, individual card elements, and border styles.
 *
 * @see {@link https://tailwindcss.com/docs | Tailwind CSS Documentation}
 * 
 * @example
 * // Example usage of Card.css in a React component
 * import './Card.css';
 * 
 * function ExampleCard() {
 *   return (
 *     <div className="card-grid-wrapper">
 *       <div className="card-wrapper">
 *         <div className="card-thin-border">
 *           // Card content here
 *         </div>
 *       </div>
 *     </div>
 *   );
 * }
 * 
 * @exports CardCSS
 * 
 * @styles
 * @class card-grid-wrapper - Styles for the card grid layout.
 * @class card-wrapper - Styles for the individual card wrapper.
 * @class card-thin-border - Styles for a thin border applied to card elements.
 * 
 * @property {string} card-grid-wrapper - Grid layout for card containers.
 * @property {string} card-wrapper - Wrapper for individual cards with border, shadow, and other styles.
 * @property {string} card-thin-border - Thin border style for card elements.
 * 
 * @created 2024-07-29
 * @updated 2024-07-29
 */

.card-grid-wrapper{
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6
}

.card-wrapper{
  @apply relative  
  border-2 border-secondary rounded-md 
  overflow-hidden shadow-md 
  cursor-pointer 
  w-full 
  h-72 md:h-72
}

.card-thin-border{
  @apply border-2 border-secondary border-opacity-20
}