

/**
 * Underline Effect Styles
 * 
 * This section contains the styles for the underline effect on the text within the LogoLink component.
 * The underline appears on hover, transitioning smoothly from left to right.
 */

 .logo-link .underline-effect {
  position: relative;
  transition: color 0.3s ease;
}

.logo-link .underline-effect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; /* Adjust to position the underline closer or farther from the text */
  width: 0;
  height: 4px; /* Adjust to change the thickness of the underline */
  @apply bg-accent; /* Customize the underline color using Tailwind's bg-accent class */
  transition: width 0.3s ease;
}

.logo-link:hover .underline-effect::after {
  width: 100%;
}
