/**
 * @file ContactForm.css
 * @module ContactFormStyles
 * @desc Contains the styles for the ContactForm component.
 * This file uses Tailwind CSS classes with additional customization for specific elements.
 *
 * @see {@link https://tailwindcss.com/docs/installation | Tailwind CSS Documentation}
 * 
 * @example
 * // Example usage of CSS classes in the ContactForm component
 * <label className="contact-label">Name</label>
 * <input className="contact-input" type="text" placeholder="Your Name" />
 *
 * @author Chace Nielson
 * @created 2024-07-28
 * @updated 2024-07-28
 * @since 2.1
 */

 .contact-label {
  @apply block text-base font-medium text-secondary;
}

.contact-input {
  @apply block w-full shadow-lg rounded-lg bg-secondary bg-opacity-10 backdrop-blur-lg
  mt-1 px-3 py-2
  focus:ring-2 focus:ring-accent focus:ring-opacity-50 focus:outline-none;
}
