@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend");
@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Open+Sans&family=Roboto&family=Lato&family=Montserrat&family=Nunito");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Bebas+Neue&display=swap');


/* overall Css for all html */
html{
  @apply bg-primary text-secondary font-montserrat;
}







/* section wrappers - height is only the heigh and the default is hieght and the container for width*/
.section-wrapper-height {
  min-height: calc(100vh - 4rem );
}
.section-wrapper{
  @apply container mx-auto section-wrapper-height ;
}

/* headers */
h1{
  @apply text-7xl font-bold font-mangold;
}

h2{
  @apply text-4xl ;
}

h3{
  @apply text-2xl ;
}

h4{
  @apply text-lg ;
}


/* scrollbar styles */
/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 0px; /* Adjust the width of the scrollbar */
  height: 0px; /* Adjust the height of the scrollbar */
}


