@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend");
@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Open+Sans&family=Roboto&family=Lato&family=Montserrat&family=Nunito");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Bebas+Neue&display=swap');


/* overall Css for all html */
html{
  @apply bg-primary text-secondary font-montserrat;
}


.border-faint{
  @apply border-2 border-secondary p-4 border-opacity-20 rounded-lg;
}

/* headers */
h1{
  @apply text-7xl font-bold font-mangold;
}

h2{
  @apply text-4xl font-bold font-mangold;
}

h3{
  @apply text-2xl ;
}

h4{
  @apply text-lg ;
}


/* scrollbar styles */
/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 0px; /* Adjust the width of the scrollbar */
  height: 0px; /* Adjust the height of the scrollbar */
}


