/**
 * @file index.css
 * @module index
 * @desc Main CSS file for the entire application. This file includes Tailwind CSS base, 
 * components, and utilities. It also imports Google Fonts and applies global styles 
 * for various HTML elements.
 *
 * @requires tailwindcss
 * @requires @import url from 'https://fonts.googleapis.com'
 * 
 * @see {@link https://tailwindcss.com/docs | Tailwind CSS Documentation}
 * @see {@link https://fonts.google.com | Google Fonts}
 * 
 * @example
 * // Example usage of Tailwind CSS classes in a React component
 * import React from 'react';
 * 
 * function ExampleComponent() {
 *   return (
 *     <div className="bg-frosted-glass text-darken border-faint">
 *       <h1>Example Heading</h1>
 *       <p>Example paragraph text.</p>
 *     </div>
 *   );
 * }
 * 
 * export default ExampleComponent;
 * 
 * @exports index.css
 * 
 * @author Chace Nielson
 * @created 2024-07-28
 * @updated 2024-07-28
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend");
@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Open+Sans&family=Roboto&family=Lato&family=Montserrat&family=Nunito");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Bebas+Neue&display=swap');


/* overall Css for all html */
html{
  @apply bg-primary text-secondary font-montserrat;
}
.text-darken{
  @apply opacity-75;
}

.border-faint{
  @apply border-2 border-secondary p-4 border-opacity-20 rounded-lg;
}

.bg-frosted-glass{
  @apply bg-primary bg-opacity-45 backdrop-blur-md;
}

.button-secondary{
  @apply bg-primary hover:bg-accent text-secondary hover:text-primary border-secondary border-2
  transition duration-300;
}

/* headers */
h1{
  @apply text-7xl font-bold font-mangold;
}

h2{
  @apply text-4xl font-bold font-mangold;
}

h3{
  @apply text-2xl ;
}

h4{
  @apply text-lg ;
}


/* scrollbar styles */
/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 0px; /* Adjust the width of the scrollbar */
  height: 0px; /* Adjust the height of the scrollbar */
}


