@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/ParallaxMulti.css */
.parallax-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.parallax-image {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  object-fit: cover;
}